[submodule "deps/llarp"]
	path = deps/llarp
	url = https://github.com/despair86/loki-network.git
	branch = master
[submodule "deps/sodium"]
	path = deps/sodium
	url = https://github.com/despair86/libsodium.git
	branch = lokinet-vendored
